<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  
	<appSettings>
		<add key="UserName" value="Admin" />
		<add key="Password" value="Admin" />
		<add key="IsSMSEnable" value="true" />
		<add key="SMSApiHost" value="http://sunrisesms.co.in/" />
		<add key="SMSApiUser" value="greenwoods" />
		<add key="SMSApiPassword" value="123456" />
		<add key="SMSApiSenderid" value="GGSHLD" />
		<add key="SMSApiChannel" value="trans" />
		<add key="AdminNumber" value="8800224410" />
		<add key="ECareAPIUrl" value="http://localhost:59822" />
	</appSettings>
	<connectionStrings>
		<add name="wisdomDBEntities" connectionString="metadata=res://*/SchoolDB.csdl|res://*/SchoolDB.ssdl|res://*/SchoolDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;initial catalog=tendersoulDB;Uid=sa; Pwd=123456;Connection Timeout=300;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<add name="DefaultConnection" connectionString="Data Source=.;initial catalog=tendersoulDB;Integrated Security=True;Connection Timeout=300" providerName="System.Data.SqlClient" />	
	</connectionStrings>
	
  <runtime>
	
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	
          <dependentAssembly>
	
              <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
	
          </dependentAssembly>
	
      </assemblyBinding>
	
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup></configuration>
