@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body align="center">
    <div style="padding-top: 50px;">
        @Html.ActionLink("Go To Main", "Index", "Main", new { }, new { @style = "font-size: 24px;" })
    </div>
    <div><img style="width: 500px;" src="~/img/AccessDenied.jpg" /></div>
   
</body>
</html>
